/* style.css */
html {
    scroll-behavior: smooth;
}

#chatbot-window {
    transition: all 0.3s ease-in-out;
}

canvas {
    max-height: 300px;
}

/* Custom Scrollbar for Chat */
#chat-messages::-webkit-scrollbar {
    width: 4px;
}
#chat-messages::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}